.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100%;
  width: 270px;
  z-index: 1; 
  top: 0; 
  left: 0;
  padding: 20px;
  position: fixed;
  text-align: left;
}

.Title-Menu {
  font-size: 1.5em;
  color: Green;
}

.Title-Calc {
  padding: 6px 8px 6px 16px;
  display: block;
  font-size: 1.0em;
  color: #818181;
  cursor: pointer;
}

.Title-Calc:hover {
  color: #f1f1f1;
}

.Display {
  margin-left: 270px;
  font-size: 1.0em;  
  padding: 0px 10px;
}
